.card{
  box-shadow: 0 .2rem 0.5rem rgba(0, 0, 0, .4);
  transition: all .5s;
  margin: 1rem;
  cursor: pointer;
  width: 18rem;
  height: 25rem;
  &:hover {
    transform: scale(1.05);
  }
}
@media(max-width: 1200px) {
  .card{
    width: 15rem;
    height: 15rem;
    font-size: 0.8rem;
  }
}
@media(max-width: 600px) {
  .card{
    width: 14rem;
    height: 15rem;
    font-size: 0.8rem;
  }
}
.card-body {
  padding: 1.25rem !important;
}
@media(max-width: 1200px) {
  .card-body {
    padding: 0.8rem !important;
  }
}
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
@media(max-width: 1200px) {
  .card-title{
    font-size: 1rem;
  }
}
.card-picture {
  background-size: cover;
  height: 12rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &--1 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/signature.jpg');
  }

  &--2 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/handwriting.jpg');
  }

  &--3 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/cardamage.jpg');
  }

  &--4 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/thai.jpg');
  }

  &--5 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/number-plate.jpg');
  }

  &--6 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/distracted-driver.jpg');
  }

  &--7 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/cheque.jpg');
  }

  &--8 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../assets/images/photo-id.jpg');
  }
}
@media(max-width: 600px) {
  .card-picture{
    height: 8rem;
  }
}
@media(max-width: 1200px) {
  .card-picture{
    height: 5rem;
  }
}
